.pageDishStyle {
  justify-content: center;
  flex-wrap: wrap;
}

.headTitleStyle {
  text-align: center;
  padding: 50px;
  box-shadow: 0 0 10px;
  font-size: 60px;
  background-color: #64C4AF;
}

.pageBoxStyle {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.boxStyle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 5px outset #D9F5BE;
  width: 400px;
  height: 600px;
  padding-bottom: 10px;
  box-shadow: 5px 5px 15px;
  background: linear-gradient(145deg, rgba(145,206,215,1) 0%, rgba(204,235,192,1) 50%, rgba(89,174,127,1) 100%);
}

.titleStyle {
  display: flex;
  width: 100%;
  height: 150px;
  font-size: 20px;
  text-align: center;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  word-wrap: break-word;
  background-color: rgba(255, 255, 255, 0.464);
}

.imgStyle {
  border: 10px inset #D9F5BE;
  margin: 5px;
  margin-bottom: 10px;
  max-height: 200px;
  max-width: 200px;
}

.discriptionStyle {
  padding: 10px;
  text-align: center;
  height: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.infoStyle {
  display: flex;
  justify-content: space-around;
  padding: 5px;
  margin: 10px;
  font-size: 15px;
  width: 80%;
  background-color: rgba(255, 255, 255, 0.464);
}

.formStyle {
  padding: 10px;
  display: flex;
  flex-direction: column;
  border: 2px solid;
  min-width: 385px;
  min-height: 590px;
  gap: 10px;
}

.pageAddStyle {
  margin: 30px;
  padding: 20px;
  width: max-content;
  background-color: antiquewhite;
}

.formAddStyle {
  display: flex;
  flex-direction: column;
  width: 800px;
  gap: 10px;

}

.btnStyle {
  color: #2e6145;
}
