.pageDishStyle {
  justify-content: center;
  flex-wrap: wrap;
}

.headTitleStyle {
  text-align: center;
  padding: 50px;
  box-shadow: 0 0 10px;
  font-size: 60px;
  background-color: chocolate;
}

.pageBoxStyle {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.boxStyle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid;
  width: 400px;
  height: 500px;
  padding: 10px;
  padding-bottom: 30px;
  box-shadow: 0 0 10px;
  background: linear-gradient(198deg, rgba(0,255,218,1) 0%, rgba(252,255,114,1) 51%, rgba(21,219,251,1) 100%);
}

.titleStyle {
  width: 100%;
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
  background-color: rgba(0, 238, 255, 0.537);
}

.imgStyle {
  margin: 5px;
  margin-bottom: 30px;
  width: 300px;
  box-shadow: 0 0 20px;
}

.infoStyle {
  margin: 10px;
  font-size: 20px;
  text-align: center;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.464);
}

.formStyle {
  padding: 10px;
  display: flex;
  flex-direction: column;
  border: 2px solid;
  width: 400px;
  height: 500px;
  gap: 10px;
}

.pageAddStyle {
  margin: 30px;
  padding: 20px;
  width: max-content;
  background-color: antiquewhite;
}

.formAddStyle {
  display: flex;
  flex-direction: column;

  width: 800px;
  gap: 10px;

}
