.container {
  background-color: #3de089;
  height: 100px;
  position: sticky;
  top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-bottom: 10px;
}

.link {
  color: #5f7ddf;
  font-size: 25px;
  text-decoration: none;
  border: 1px solid rgb(180, 180, 180);
  border-radius: 30px;
  padding: 20px;
}

.link:global.active {
  color: #000000;
  text-decoration: underline;
  background-color: #00ce60;
}
